@font-face{
    font-family: logo;
    src: url(../fonts/BebasNeue-Regular.ttf);

}
@font-face {
    font-family: headings;
    src: url(../fonts/ProtestStrike-Regular.ttf);
}

@font-face{
    font-family: name;
    src: url(../fonts/Poppins-Italic.ttf);
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0) ;

}
/*NAVBAR*/
.navbar{
    background-color: #1a1616;
}

.nav-item .nav-link:hover{
    background-color: #372929;
    border-radius: 10px;
        
}

/*MAIN SECTION*/


.main-img {
    position: relative;
}
.main-img img {
    width: 100%;
    object-fit: cover; 
    border-radius: 10px;
    display: block;
}
.content {
    z-index: 1; 
    max-width: 800px; 
    margin: 0 auto; 
    text-align: center; 
    padding: 20px; 
}
.text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    padding: 20px; 
}

.header-text {
    font-size: 2rem; 
    font-family: headings;
}

.paragraph {
    font-size: 1rem; 
}

.button{
    background-color: #1792da; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
.button:hover{
    background-color: #007bff;
}

@media screen and (max-width: 900px) {
    .header-text {
       display: none;
    }
    .paragraph{
        display: none;  
    }
    .button{
        display: none;
    }
    .main-img{
        padding-top: 20px;
    }
}

/*FEATURES*/
.key{
    font-family: headings;
}
.features {
    padding: 40px 0;
}

.feature-card {
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: 50px;
}
.featured-collection h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.card-img-top{
    max-height: 100px;
    max-width: 100px;
}
.fa-solid{
    margin-right: 10px;
}
.btn{
    background-color: #007bff;
}
.feature-text{
    font-family: headings;
}

/*Gallery*/
.showcase{
    font-family: headings;
}


/*Products*/
.pr{
    font-family: headings;
}
.card {
    background-color: #343a40;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    max-width: 250px;
   
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    text-align: left;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.price {
    font-size: 1.1rem;
}

.old-price {
    text-decoration: line-through;
    color: red;
    
}

.all-card{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*testtimonials*/

.testing{
    font-family: headings;
}
.testimonials {
    background-color: #000000; 
    padding: 40px 0; 
}

.testimonial-card {
    background-color: #343a40;
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 300px;
}

.testimonial-text {
    font-style: italic; 
    margin-bottom: 15px; 
    color: #ffffff;
}

.customer-name {
    font-weight: bold; 
    font-family: name;
}

.customer-rating {
    color: #ffcc00; 
}
.customer-image {
    border: 2px solid orange; 
}
.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

/*Contact*/
.contact{
    font-family: headings;
}
.contact-section {
    background-color: #000000;
    
    
}
.contact-form {
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    padding: 30px;
    background-color:#343a40;

    
    
}
.contact-info {
    padding: 20px;
}
.contact-info i {
    font-size: 24px;
    color: #007bff;
}




/*Footer*/
.footer {
    background-color: #343a40;
    color: white;
    padding: 40px 0;
}
.footer a {
    color: #ffffff;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}











